#root {
    min-width: 100vw;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-container {
    width: 300px;
}

.multi-accordion-body-img{
    max-width: 20%;
}

.multi-accordion-body-content 
{
    max-width: 80%;
}

.BotonNormal {
    padding:5px 25px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
    color: white;
    border: none;
    background-color: #1155cc;
    margin: 5px;
    vertical-align: middle;
}

.BotonNormalSecundario {
    padding:5px 25px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
    color: white;
    border: none;
    background-color: #4285f4;
    margin: 5px;
}

.BotonNormalDisabled {
    padding:5px 25px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
    color: black;
    border: none;
    background-color: #747775;
    margin: 5px;
    opacity: 50%;
}

.BotonOutlined {
    padding:5px 25px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
    color: #1155cc;
    border: 1px solid #1155cc;;
    background-color: white;
    margin: 5px;
    vertical-align: middle;
}

.BotonOutlinedSecundario {
    padding:5px 25px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
    color: #1155cc;
    border: 1px solid #1155cc;
    background-color: #d3e3fd;;
    margin: 5px;
    vertical-align: middle;
}

.BotonOutlinedDisabled {
    padding:5px 25px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
    color: #1155cc;
    border: 1px solid #1155cc;
    background-color: #d3e3fd;
    margin: 5px;
    vertical-align: middle;
    opacity: 50%;
}

.BotonVacio {
    padding:5px 25px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
    color: #1155cc;
    border: none;
    background-color: none;
    margin: 5px;
    vertical-align: middle;
}


.header-container {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: dodgerblue;
    justify-content: center;
}

.logo-header-container {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 50%;
    height: 50%;
}

.buttons-header-container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.button-header, .button-login {
    background-color: transparent;
    border: none;
    font-weight: 500;
    color: white;
    margin-right: 50px;
    font-size: 15px;
}

.button-login {
    margin-right: 5px;
}

.login-header-container {
    width: 30%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.banner-container {
    display: flex;
    width: 80vh;
    margin: auto;
    background: linear-gradient(167.85deg, rgba(35, 174, 253, 0.7) 31.41%, rgba(2, 104, 206, 0.7) 83.74%, rgba(3, 28, 53, 0.7) 83.74%);
}

.title-container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.body-container-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}