/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

body,html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header-icon-active {
  color: #65cad5;
}

.img-full {
  background-color: #c0e4eb
}

.amarillo {
  background-color: #ffd933;
}

.celeste {
  background-color: #65cad5
}

.bg-clear {
  background-color: #ecf4f585
}

/* .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: "Noto Sans JP",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 200;
  line-height: 0.2;
} */

/* #mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Noto Sans JP",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 700
} */

/* #navbar-primary.navbar-default {
  background: 0 0;
  border: none
} */

.nav-link:hover .header-icon {
  color: #65cad5
}

.footer {
  padding-top: 5rem;
  background-color: #60bfc9;
  color: #fff
}

.copyright {
  background-color: #fff
}

.img-donate {
  height: 500px;
  background-image: url(../static/app/img/closeup-shot-of-the-snouts-of-cute-dog-and-cat-sitting-cheek-to-cheek.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}

ul li {
  padding: 0.5rem 0 0.5rem 0
}

#reportImage {
  width: 60%;
  object-fit: cover;
  height: 60%
}

.flex {
  display: flex;
  flex-direction: column
}

.flex>#divMapListView {
  order: 1
}

.flex>#divListView {
  order: 2
}

.list-report {
  width: 100%;
  height: auto
}

#map {
  width: 100%;
  height: 650px
}

#map-report {
  width: 100%;
  height: 400px;
}

.leaflet-container{
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block
}